In [1]:
# library(tidyverse)
library(Ecdat)

Warning message:
"package 'Ecdat' was built under R version 4.3.3"
Loading required package: Ecfun

Warning message:
"package 'Ecfun' was built under R version 4.3.3"

Attaching package: 'Ecfun'


The following object is masked from 'package:base':

    sign



Attaching package: 'Ecdat'


The following object is masked from 'package:datasets':

    Orange

In [2]:
head(Cigar)

  state year price pop  pop16  cpi  ndi      sales pimin
1 1     63   28.6  3383 2236.5 30.6 1558.305 93.9  26.1
2 1     64   29.8  3431 2276.7 31.0 1684.073 95.4  27.5
3 1     65   29.8  3486 2327.5 31.5 1809.842 98.5  28.9
4 1     66   31.5  3524 2369.7 32.4 1915.160 96.4  29.5
5 1     67   31.6  3533 2393.7 33.4 2023.546 95.5  29.6
6 1     68   35.6  3522 2405.2 34.8 2202.486 88.4  32.0

In [3]:
write.csv(Cigar, "./data/Cigar.csv", row.names=FALSE)